# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Data files - These should be downloaded to a GCS bucket
# and accessed by the training job from there.
data/
*.zip

# Terraform state files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# IDE / Editor specific
.idea/
.vscode/
*.swp

# Downloaded SDKs
google-cloud-sdk/

# Logs and temporary files
*.log
